<%= form_with model: [ @job, @job.applicants.build ] do |form| %>
 <div>
    <%= form.label 'Name' %><br>
    <%= form.text_field :name %>

  </div>

  <div>
    <%= form.label "Lastname" %><br>
    <%= form.text_field :lastname %>
    
  </div>
  
  <div>
    <%= form.label "City" %><br>
    <%= form.text_field :city %>
   
  </div>

  <div>
    <%= form.label "phone" %><br>
    <%= form.text_field :phone %>


  </div>

  <br><br>
  <div>
    <%= form.submit %>
  </div>
<% end %>

