<h1>see the job post</h1>
<div>
<h4><p>TITLE      : <%= @job.title %></p></h4>
<h4><p>COMPANY : <%= @job.company %></p></h4>
<h4><p>Experience     : <%= @job.experience %></p></h4>
<h4><p>Salary  : <%= @job.salary%></p></h4>
</div>

<div>
   <% if current_user.applicant? %>
      <%= link_to "Applicants for this job", job_applicant_jobapplicant_path(@job ,@job.applicants) %>             
   <%end%>
</div>