
<h1>Jobs</h1>
<% @jobs.each do |job| %>
  <div class="job">
    <h3><%= link_to job.title, job.url %></h3>
    <h3><%= job.company %></h3>
    <p><%= button_to "Accept", job_accept_path(job), method: :patch %></p>
    <%= button_to "Reject", job_decline_path(job), method: :patch %> 
 <%= link_to "Edit", edit_job_path(job)%>
  </div>
<% end %>

<p><%= button_to "Sign out", destroy_user_session_path, method: :delete %>
<%# <p><%= link_to "Add a job", new_job_path %></p>