
 
<%# employer %>
<% if current_user.employer? %>
  <h1>Welcome Employer</h1>
  <%= link_to "create a job", new_job_path %> <br><br>
  <%= link_to "see jobs posted by you job" %><br><br>
  <%= link_to "applicant who apllied job post by you" %><br><br>
<p><%= button_to "Sign out", destroy_user_session_path, method: :delete %></p>
  
<%# applicant %>
<% else current_user.applicant? %>
  <h1>Welcome applicant</h1>
  <h3>check job post</h3>
<ul>
  <% @jobs.each do |job| %>
    <li>
      <%= link_to job.title, job %>
    </li>
  <% end %>
</ul>
  <br>
  <h3><%= link_to "see job applied by u" %></h3>
<p><%= button_to "Sign out", destroy_user_session_path, method: :delete %></p>

<% end%>