
<h1>Jobs</h1>
<% @jobs.each do |job| %>
  <div class="job">
    <h2><%= link_to job.title, job.url %></h2>
    <p><%= button_to "Accept", job_accept_path(job), method: :patch %></p>
    <%= button_to "Reject", job_decline_path(job), method: :patch %> 

    <p><%= job.company %></p>
  </div>
<% end %>

<p><%= button_to "Sign out", destroy_user_session_path, method: :delete %>
<%# <p><%= link_to "Add a job", new_job_path %></p>