
<h1>create new job</h1>


<%= form_with model: @job do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% @job.errors.full_messages_for(:title).each do |message| %>
    <% end %>
  </div>

  <div>
    <%= form.label :company %><br>
    <%= form.text_field :company %>
    <% @job.errors.full_messages_for(:company).each do |message| %>
    <% end %>
  </div>

  <div>
    <%= form.label :experience %><br>
    <%= form.text_field :experience %>
    <% @job.errors.full_messages_for(:experience).each do |message| %>
    <% end %>
  </div>

    <div>
    <%= form.label :salary %><br>
    <%= form.text_field :salary %>
    <% @job.errors.full_messages_for(:salary).each do |message| %>
    <% end %>
  </div><br><br>
  <div>

    <%= form.submit %>
  </div>

<% end %>