<h1>see the job post</h1>
<div>

<h4><p>TITLE      : <%= @job.title %></p></h4>
<h4><p>COMPANY : <%= @job.company %></p></h4>
<h4><p>URL     : <%= @job.url %></p></h4>

<%= button_to "Apply job"%>
<%= button_to "Cancel"%>
<br>
<%= button_to "Back"%>
 </div>
   
 