<h1>see the job post</h1>
<div>
<h4><p>TITLE      : <%= @job.title %></p></h4>
<h4><p>COMPANY : <%= @job.company %></p></h4>
<h4><p>Experience     : <%= @job.experience %></p></h4>
<h4><p>Salary  : <%= @job.salary%></p></h4>
</div>

<div>
   <% if current_user.employer? %>
      <%= link_to "Job Edit", edit_job_path(@job)%><br><br>

      <%= link_to "Applicants for this job", job_applicant_jobpost_path(@job ,@job.applicants) %>             
   <% else current_user.applicant? %>
      <h2>Apply Job</h2>
      <%= render 'applicants/form' %>
   <%end%>
</div>