
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Applicant <%= @applicant.name %>!</p>
    <p>
    Applicant details<br>
    --------------------------
    </p>

    <p>Name: <%= @applicant.name %></p>
    <p>Lastname: <%= @applicant.lastname %></p>
    <p>City: <%= @applicant.city %></p>
    <p>Phone: <%= @applicant.phone %></p>
    
  </body>
</html>